<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<div th:replace="layout/nav :: nav"></div>
<br>

<h1>Products</h1>

<a type="button" class="btn btn-primary" href="/products/create">Create new product</a>

<div class="container">
    <div class="row mt-2">
        <div class="col-12">
            <table class="table table-striped table-hover">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                <th:block th:each="product : ${products}">
                    <tr>
                        <td th:text="${product.product_id}"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.price}">$</td>
                        <td>
                            <img th:src="${product.image}" alt="Images product" style="width: 150px;height: 100px;">
                        </td>
                        <td th:text="${product.description}"></td>
                        <td th:text="${product.getCategory().getName()}"></td>
                        <td><a type="button" class="btn btn-warning" th:href="@{/products/update/__${product.product_id}__ }">Update</a></td>
                        <td><a type="button" class="btn btn-danger" th:href="@{/products/delete/__${product.product_id}__ }">Delete</a></td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>
</div>

<!--data-bs-toggle="modal" data-bs-target="#exampleModal"-->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h1 class="modal-title fs-5" id="exampleModalLabel">Notification</h1>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <p>Are you sure to delete this product?</p>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                <form th:action="@{/products/delete}" th:object="${product}" method="post">-->
<!--                    <input type="hidden" name="productId" id="productId"/>-->
<!--                    <button type="button" class="btn btn-danger">Delete</button>-->
<!--&lt;!&ndash;                    <input type="hidden" name="id" th:field="*{product_id}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button type="submit" class="btn btn-danger">Delete</button>&ndash;&gt;-->
<!--                </form>-->
<!--&lt;!&ndash;                <a type="button" class="btn btn-danger" th:href="@{'/products/delete/' + ${product.product_id}}">Delete</a>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>