<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<div th:replace="layout/nav :: nav"></div>
<br>

<h1>Create category</h1>
<p>
    <a type="button" class="btn btn-primary" href="/categories">Category list</a>
</p>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<!--<form th:action="@{/categories/create}" th:object="${category}" method="post">-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>Name:</td>-->
<!--            <td><input type="text" th:field="*{name}"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td></td>-->
<!--            <td><input type="submit" value="Create category"></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</form>-->

<div class="container">
    <div class="row mt-2">
        <div class="col-12">
            <form th:action="@{/categories/create}" th:object="${category}" method="post">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Name</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name" th:field="*{name}">
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <input type="submit" class="btn btn-primary" value="Create Category"/>
                    </div>
                    <div class="col-6 text-end">
                        <a href="/categories" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>